<h2><%= t('.ongoing_lots') %></h2>

<% @lots_ongoing.each do |lot| %>
  <div>
    <table>
      <tr>
        <th>Lote <%= link_to lot.code, lot %></th>
      </tr>
      <tr>
        <td><%= t('.start_date') %></td>
        <td><%= t('.end_date') %></td>
      </tr>
      <tr>
        <td><%= I18n.localize(lot.start_date) %></td>
        <td><%= I18n.localize(lot.finish_date) %></td>
      </tr>
    </table>
  </div>
<%end%>

<h2><%= t('.future_lots') %></h2>

<% @lots_future.each do |lot| %>
  <div>
    <table>
      <tr>
        <th>Lote <%= link_to lot.code, lot %></th>
      </tr>
      <tr>
        <td><%= t('.start_date') %></td>
        <td><%= t('.end_date') %></td>
      </tr>
      <tr>
        <td><%= I18n.localize(lot.start_date) %></td>
        <td><%= I18n.localize(lot.finish_date) %></td>
      </tr>
    </table>
  </div>
<%end%>