<h2>Lotes em Andamento</h2>

<% @lots_approved.each do |lot| %>
  <div>
    <table>
      <tr>
        <th>Lote <%= link_to lot.code, lot %></th>
      </tr>
      <tr>
        <td>Data de Início</td>
        <td>Data de encerramento</td>
      </tr>
      <tr>
        <td><%= I18n.localize(lot.start_date) %></td>
        <td><%= I18n.localize(lot.finish_date) %></td>
      </tr>
    </table>
  </div>
<%end%>

<h2>Lotes Futuros</h2>

<% @lots_pending.each do |lot| %>
  <div>
    <table>
      <tr>
        <th>Lote <%= link_to lot.code, lot %></th>
      </tr>
      <tr>
        <td>Data de Início</td>
        <td>Data de encerramento</td>
      </tr>
      <tr>
        <td><%= I18n.localize(lot.start_date) %></td>
        <td><%= I18n.localize(lot.finish_date) %></td>
      </tr>
    </table>
  </div>
<%end%>