<h1><%= t('.registered_items') %></h1>

<% @items.each do |item| %>
  <div>
    <% if item.image.attached? %>
      <%= image_tag item.image, size: "200x200" %>
    <%end%>
  </div>
  <dl>
    <div>
      <dt><%= Item.human_attribute_name 'name' %>: </dt>
      <dd><%= item.name %></dd>
    </div>
    <div>
      <dt><%= Item.human_attribute_name 'description' %>: </dt>
      <dd><%= item.description %></dd>
    </div>
  </dl>
<%end%>