<h1> <%= @item.name %> </h1>

<div>
  <dl>
    <% if @item.image.attached? %>
      <%= image_tag @item.image %>
    <%end%>
    <dt><%= Item.human_attribute_name 'description' %>:</dt>
    <dd>
      <%= @item.description %>
    </dd>
    <dt><%= Item.human_attribute_name 'weight' %>:</dt>
    <dd>
      <%= @item.weight %> g
    </dd>
    <dt><%= t('.dimension') %>:</dt>
    <dd>
      <%= @item.height %> cm x <%= @item.width %> cm x <%= @item.depth %> cm
    </dd>
    <dt><%= Item.human_attribute_name 'category_id' %>:</dt>
    <dd>
      <%= @item.category.name%>
    </dd>
    <dt><%= Item.human_attribute_name 'code' %>:</dt>
    <dd>
      <%= @item.code%>
    </dd>
  </dl>
</div>