<h1> <%= @item.name %> </h1>

<div>
  <dl>
    <% if @item.image.attached? %>
      <%= image_tag @item.image %>
    <%end%>
    <dt>Descrição:</dt>
    <dd>
      <%= @item.description %>
    </dd>
    <dt>Peso:</dt>
    <dd>
      <%= @item.weight %> g
    </dd>
    <dt>Dimensão:</dt>
    <dd>
      <%= @item.height %> cm x <%= @item.width %> cm x <%= @item.depth %> cm
    </dd>
    <dt>Categoria:</dt>
    <dd>
      <%= @item.category.name%>
    </dd>
    <dt>Código:</dt>
    <dd>
      <%= @item.code%>
    </dd>
  </dl>
</div>