<h1><%= Lot.model_name.human(count: 2) %></h1>

<% if current_user&.admin? %>
  <% @lots.each do |lot| %>
    <div>
    <table>
      <tr>
        <th>Lote <%= link_to lot.code, lot %></th>
      </tr>
      <tr>
        <td><%= I18n.localize(lot.start_date) %></td>
        <td><%= I18n.localize(lot.finish_date) %></td>
      </tr>
      <tr>
        <td><%= I18n.localize(lot.start_date) %></td>
        <td><%= I18n.localize(lot.finish_date) %></td>
      </tr>
      <tr>
        <td>
          <%= I18n.translate("lots.#{lot.status}") %>
        </td>
      </tr>
    </table>
  </div>
  <%end%>
<%end%>

<h2><%= t('.lots_ongoing') %></h2>
<div>
  <% @lots_ongoing.each do |lot| %>
    <div>
      <table>
        <tr>
          <th>Lote <%= link_to lot.code, lot %></th>
        </tr>
        <tr>
          <td><%= I18n.localize(lot.start_date) %></td>
          <td><%= I18n.localize(lot.finish_date) %></td>
        </tr>
        <tr>
          <td><%= I18n.localize(lot.start_date) %></td>
          <td><%= I18n.localize(lot.finish_date) %></td>
        </tr>
      </table>
    </div>
  <%end%>
</div>