<h1>Detalhes do Lote <%= @lot.code %> </h1>

<dl>
  <dt><%= Lot.human_attribute_name 'start_date' %>:</dt>
  <dd><%= I18n.localize(@lot.start_date) %></dd>
  <dt><%= Lot.human_attribute_name 'finish_date' %>:</dt>
  <dd><%= I18n.localize(@lot.finish_date) %></dd>
  <dt><%= Lot.human_attribute_name 'start_bid' %>:</dt>
  <dd>R$<%= @lot.start_bid %>,00</dd>
  <dt><%= Lot.human_attribute_name 'status' %> do Lote:</dt>
  <dd><%= I18n.translate(@lot.status) %></dd>
</dl>

<h2>Itens do Lote</h2>

<% if current_user.admin? && @lot.pending?%>
  <div>
    <%= link_to 'Adicionar Item', new_lot_lot_item_path(lot_id: @lot.id) %>
  </div>
  <div>
    <% @lot.items.each do |item| %>
      <%= item.name %>
      <%= button_to 'Remover Item', lot_lot_item_path(item.lot, item.lot_item), method: :delete, id: dom_id(item) %>
    <%end%>
  </div>
<% else %>
  <div>
    <% @lot.items.each do |item| %>
      <%= item.name %>
    <%end%>
  </div>
<%end%>
