<h1> <%= t('.lots_finished') %> </h1>

<div>
  <h2> <%= t('.user_lots_winner') %> </h2>
  <% if @user_lots.blank? %>
    <%= t('.user_lots_blank') %> 
  <%end%>

  <% @user_lots.each do |lot| %>
    <div>
      <table>
        <tr>
          <th>Lote <%= link_to lot.code, lot %></th>
        </tr>
        <tr>
          <td><%= I18n.localize(lot.start_date) %></td>
          <td><%= I18n.localize(lot.finish_date) %></td>
        </tr>
        <tr>
          <td><%= I18n.localize(lot.start_date) %></td>
          <td><%= I18n.localize(lot.finish_date) %></td>
        </tr>
      </table>
    </div>
  <%end%>
</div>

<h2> <%=t('.all_lots_finished')%> </h2>

<div>
  <% if @lots_finished.blank? %>
    <%=t('.lots_finished_blank')%>
  <%end%>

  <% @lots_finished.each do |lot| %>
    <div>
      <table>
        <tr>
          <th>Lote <%= link_to lot.code, lot %></th>
        </tr>
        <tr>
          <td><%= I18n.localize(lot.start_date) %></td>
          <td><%= I18n.localize(lot.finish_date) %></td>
        </tr>
        <tr>
          <td><%= I18n.localize(lot.start_date) %></td>
          <td><%= I18n.localize(lot.finish_date) %></td>
        </tr>
      </table>
    </div>
  <%end%>
</div>