<!DOCTYPE html>
<html>
  <head>
    <title>AuctionhouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <header>
    <%= link_to root_path do %>
      <h1><%= t('.auction_house') %></h1>
    <% end %>
    <nav>
      <% if user_signed_in? %>
        <%= current_user.email %>
        <%= link_to t('.user_lots'), winner_lots_path %>
        <%= button_to t('.exit'), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t('.login'), new_user_session_path %>
      <% end %>

      <%= link_to Lot.model_name.human(count: 2), lots_path %>
      <%= link_to Item.model_name.human(count: 2), items_path %>

      <% if current_user&.admin? %>
        <%= link_to t('.new_item'), new_item_path %>
        <%= link_to t('.new_lot'), new_lot_path %>
        <%= link_to t('.expired_lots'), expired_lots_path %>
      <% end %>
    </nav>
  </header>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
