<!DOCTYPE html>
<html>
  <head>
    <title>AuctionhouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <header>
    <%= link_to root_path do %>
      <h1>Leilão de Estoque</h1>
    <% end %>
    <nav>
      <% if user_signed_in? %>
        <%= current_user.email %>
        <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Entrar', new_user_session_path %>
      <% end %>
      <% if current_user.present? && current_user.admin? %>
        <%= link_to 'Cadastrar Item', new_item_path %>
        <%= link_to 'Cadastrar Lote', new_lot_path %>
      <% end %>
    </nav>
  </header>
    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
